<div class="mybody">
  <div class="wrapper">
    <div class="title">
      <span *ngIf="isLogin">Login</span>
      <span *ngIf="!isLogin">SignUp</span>
    </div>

    <form (ngSubmit)="isLogin ? login() : SignUp()" #authForm="ngForm">
      <div class="row" *ngIf="!isLogin">
        <i class="fas fa-user"></i>
        <input
          type="text"
          name="userName"
          [(ngModel)]="userName"
          placeholder="Username"
          required
        />
      </div>

      <div class="row">
        <i class="fas fa-envelope"></i>
        <input
          type="text"
          name="email"
          [(ngModel)]="email"
          placeholder="Email or Phone"
          required
        />
      </div>

      <div class="row">
        <i class="fas fa-lock"></i>
        <input
          type="password"
          name="password"
          [(ngModel)]="password"
          placeholder="Password"
          required
        />
      </div>

      <div class="pass" *ngIf="isLogin">
        <a href="">Forgot password?</a>
      </div>

      <div class="row button">
        <input type="submit" [value]="isLogin ? 'Login' : 'Sign Up'" />
      </div>

      <div class="signup-link text-center">
        <span *ngIf="isLogin">
          Not a member?
          <a href="#" (click)="toggleForm($event)">Signup now</a>
        </span>
        <span *ngIf="!isLogin">
          Already have an account?
          <a href="#" (click)="toggleForm($event)">Login here</a>
        </span>
      </div>
    </form>
  </div>
</div>
