<nav
  *ngIf="showNavAndFooter"
  class="navbar navbar-expand-lg navbar-light"
>
  <a class="navbar-brand" href="#"><i class="fa-solid fa-bus-simple"></i></a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active navbtn">
        <a class="nav-link" routerLink="search" name="search">
          Home <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active navbtn">
        <a class="nav-link" routerLink="offer" name="offer">Offer</a>
      </li>
      <li class="nav-item active navbtn">
        <a class="nav-link" routerLink="Ticket" name="Ticket">My Tickets</a>
      </li>
      <li class="nav-item active navbtn">
        <a class="nav-link" routerLink="about-us" name="about-us">About us</a>
      </li>
      <li class="nav-item active navbtn">
        <a class="nav-link" routerLink="need-help" name="need-help"
          >Need Help</a
        >
      </li>
    </ul>
  </div>

  <h1 class="busbook">
    <span class="go-text">Go</span><span class="ride-text">Ride</span>
  </h1>

  <button
    class="btn btn-outline-dark logout"
    routerLink="login"
    type="submit"
    (click)="logout()"
  >
    <i class="fa-solid fa-right-from-bracket"></i> Log-Out
  </button>
</nav>

<div class="main-content">
  <router-outlet></router-outlet>
</div>

<app-foo *ngIf="showNavAndFooter"></app-foo>
