nav {
  background-color: rgb(208, 78, 78);
  display: flex;
  align-items: center;
  padding: 10px 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Orbitron", sans-serif;
}

.main-content {
  flex: 1;
  overflow-y: auto;
}

.login1,
.logout {
  background-color: rgb(224, 235, 235);
  margin: 5px;
  font-weight: 600;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  border-radius: 40%;
}

.login1:hover,
.logout:hover {
  color: rgb(201, 76, 76);
}

.logout i {
  margin-right: 6px;
}

.busbook {
  font-family: "Orbitron", sans-serif;
  margin-right: 20px;
  font-size: 30px;
  font-weight: bold;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 4px;
}

.go-text {
  color: #28df99;
  font-weight: 700;
}

.ride-text {
  color: #ff9f1c;
  font-weight: 700;
}

.busbook:hover .go-text,
.busbook:hover .ride-text {
  color: aqua;
}

.navbtn {
  color: black;
  font-weight: bolder;
  padding: 8px 12px;
  border: none;
  background: none;
  cursor: pointer;
}

.navbtn:hover {
  background-color: white;
  border-radius: 30%;
}

.navbar-nav {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  align-items: center;
}

.navbar-brand {
  font-size: 30px;
  color: white;
  margin-right: 10px;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .busbook {
    font-size: 20px;
    margin-right: 10px;
  }

  .login1,
  .logout,
  .navbtn {
    padding: 8px 10px;
    font-size: 14px;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (min-width: 601px) and (max-width: 992px) {
  .busbook {
    font-size: 24px;
  }

  .login1,
  .logout,
  .navbtn {
    font-size: 15px;
  }

  nav {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }
}
