<!-- <div class="container">
    <button class="cld" (click)="save()">Success</button>
</div> -->
<!-- <div>
  <select class="form-select">
    @for (item of respons; track $index) {
    <option>{{ item.id }}</option>
    <option>{{ item.title }}</option>
    <option>{{ item.userId }}</option>
    }
  </select>
</div> -->

<!-- <div class="form-check-inline">
  <form id="form-select form-group form1">
    <label for="fullname">fullname:</label>
    <input type="text" name="fullname" id="fullname" /><br />
    <input type="datetime" /><br />

    <label for="age">Age:</label>
    <input type="number" name="age" id="age" /><br />
    <label for="Dob">Date of birth:</label>
    <input type="date" name="Dob" id="Dob" /><br />
    <label for="gender">Male:</label>

    <input type="checkbox" name="gender" id="gender" />
    <label for="gender">Male:</label>
    <input type="checkbox" name="gender" id="gender" />FeMale
    <br />

    <button id="submit" value="submit" (click)="save()">submit</button>
  </form>
</div> -->
